services:
  backend:
    build:
      context: .
      dockerfile: infra/docker/backend.Dockerfile
    container_name: hotel-backend
    expose:
      - "3000"
    env_file:
      - ./backend/.env
    depends_on:
      - redis
    volumes:
      - ./backend:/app
      - /app/node_modules
    restart: always

  redis:
    image: redis:7-alpine
    container_name: hotel-redis
    ports:
      - "6379:6379"
    restart: always
  nginx:
    build:
      context: .
      dockerfile: infra/docker/nginx.Dockerfile
    ports:
      - "80:80"
    environment:
      - BACKEND_URL=http://backend:3000
      - PORT=80
    depends_on:
      - backend
    restart: always
