services:
  backend:
    build:
      context: .
      dockerfile: docker/backend.Dockerfile
    container_name: hotel-backend
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env
    depends_on:
      - redis
    volumes:
      - ./backend:/app
      - /app/node_modules
    restart: always

  redis:
    image: redis:7-alpine
    container_name: hotel-redis
    ports:
      - "6379:6379"
    restart: always
