services:
  backend:
    build:
      context: .
      dockerfile: infra/docker/backend.Dockerfile
    ports:
      - "3000:3000"
    container_name: hotel-backend
    command: bun run dev
    env_file:
      - ./backend/.env
    environment:
      - BETTER_AUTH_BASE_URL=http://localhost:3000
      - BETTER_AUTH_SECRET=hotelmanagementsystem012345678911121314151617181920 # Replace with a long random string in production
    depends_on:
      - redis
    volumes:
      - ./backend:/app
      - /app/node_modules
    restart: always

  redis:
    image: redis:7-alpine
    container_name: hotel-redis
    ports:
      - "6379:6379"
    restart: always
  nginx:
    build:
      context: .
      dockerfile: infra/docker/nginx.Dockerfile
    ports:
      - "80:80"
    environment:
      - BACKEND_URL=http://backend:3000
      - PORT=80
    depends_on:
      - backend
    restart: always
